@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#main-container {
    width: 500px;
    margin: 0 auto;
}

#todo-form {
    padding: 24px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 6px;

    margin: 48px 0 24px;
}


#todo-input {
    width: 100%;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.todo-card {
    padding: 24px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 6px;   
    margin: 16px 0;
}

.todo-message {
    margin: 0;
}